<div class="row header">
  <div class="col-md-12">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img
            src="../../../assets/iSchoolConnect-logo.svg"
            width="300"
            height="70"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item dropdown position-static">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Study Abroad Guide
                  </a>
                  <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <div class="drop-info">
                      <div class="row d-flex">
                        <div class="col-md-2 left-col">
                          <div class="explore-info">
                            <ul>
                              <h4 class="mt-2">Explore By</h4>
                              <li> <i class="fa fa-file-text mx-2" aria-hidden="true"></i> Exams</li>
                              <li><i class="fa fa-globe mx-2" aria-hidden="true"></i>Countires</li>
                              <li><i class="fa fa-credit-card-alt mx-2" aria-hidden="true"></i>Expenses</li>
                              <li><i class="fa fa-university mx-2" aria-hidden="true"></i>Universities</li>
                            </ul>
                          </div>
                          <div class="imgs mt-4">
                            <img src="../../../assets/universities_cta_5967a3d068.svg" alt="">
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="row d-flex">
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">IELTS</a>
                              <a class="dropdown-item" href="#">IELTS Overview</a>
                              <a class="dropdown-item" href="#">IELTS Eligibilty</a>
                              <a class="dropdown-item" href="#">IELTS Syllabus</a>
                              <a class="dropdown-item" href="#">IELTS Exam Pattern</a>
                              <a class="dropdown-item" href="#">IELTS Preparation Ideas</a>
                              <a class="dropdown-item" href="#">IELTS Practice Test</a>
                            </div>
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">TOEFL</a>
                              <a class="dropdown-item" href="#">TOEFL Overview</a>
                              <a class="dropdown-item" href="#">TOEFL Eligibilty</a>
                              <a class="dropdown-item" href="#">TOEFL Syllabus</a>
                              <a class="dropdown-item" href="#">TOEFL Exam Pattern</a>
                              <a class="dropdown-item" href="#">TOEFL Preparation Ideas</a>
                              <a class="dropdown-item" href="#">TOEFL Practice Test</a>
                            </div>
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">PTE</a>
                              <a class="dropdown-item" href="#">PTE Overview</a>
                              <a class="dropdown-item" href="#">PTE Eligibilty</a>
                              <a class="dropdown-item" href="#">PTE Syllabus</a>
                              <a class="dropdown-item" href="#">PTE Exam Pattern</a>
                              <a class="dropdown-item" href="#">PTE Preparation Ideas</a>
                              <a class="dropdown-item" href="#">PTE Practice Test</a>
                            </div>
                          </div>
                          <div class="row d-flex mt-4">
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">GRE</a>
                              <a class="dropdown-item" href="#">GRE Overview</a>
                              <a class="dropdown-item" href="#">GRE Eligibilty</a>
                              <a class="dropdown-item" href="#">GRE Syllabus</a>
                              <a class="dropdown-item" href="#">GRE Exam Pattern</a>
                              <a class="dropdown-item" href="#">GRE Preparation Ideas</a>
                              <a class="dropdown-item" href="#">GRE Practice Test</a>
                            </div>
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">GMAT</a>
                              <a class="dropdown-item" href="#">GMAT Overview</a>
                              <a class="dropdown-item" href="#">GMAT Eligibilty</a>
                              <a class="dropdown-item" href="#">GMAT Syllabus</a>
                              <a class="dropdown-item" href="#">GMAT Exam Pattern</a>
                              <a class="dropdown-item" href="#">GMAT Preparation Ideas</a>
                              <a class="dropdown-item" href="#">GMAT Practive Test</a>
                            </div>
                            <div class="col-md-4">
                              <a class="dropdown-item item-title">SAT</a>
                              <a class="dropdown-item" href="#">SAT Overview</a>
                              <a class="dropdown-item" href="#">SAT Eligibilty</a>
                              <a class="dropdown-item" href="#">SAT Syllabus</a>
                              <a class="dropdown-item" href="#">SAT Exam Pattern</a>
                              <a class="dropdown-item" href="#">SAT Preparation Ideas</a>
                              <a class="dropdown-item" href="#">SAT Practice Test</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </li>
            </ul></div>

            <li class="nav-item">
              <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>

          <button class="btn btn-register my-2 my-sm-0" type="submit">
            Register
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
