<div class="background">
  <div class="container">
    <div class="row contain">
      <div class="col-md-12 mt-4">
        <p class="simple-title">
          <i class="fa fa-home" aria-hidden="true"></i>
          <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> Explore
          Schools
        </p>
        <div class="main">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search for an Institue or a course"
              (input)="filterList($event)"
            />
          </div>
          <p style="margin-top: 15px">
            You found <b>{{ totalNumber }}</b> institutes and
            <b>{{ totalCourseCount }}</b> courses
          </p>
        </div>
        <hr />
      </div>
    </div>
    <div class="row contain mt-4">
      <div class="col-md-4">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Degrees </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="example-section">
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  [(ngModel)]="masterCheckboxSelected"
                  (change)="onChange()"
                  >Master</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  [(ngModel)]="bachelorsCheckboxSelected"
                  (change)="onChange()"
                  >Bachelors</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  [(ngModel)]="DoctorateCheckboxSelected"
                  (change)="onChange()"
                  >Doctrate</mat-checkbox
                >
              </p>
              <p class="panel-desc"><mat-checkbox color="primary">Associate</mat-checkbox></p>
              <p class="panel-desc"><mat-checkbox color="primary">Diploma</mat-checkbox></p>
              <p class="panel-desc">
                <mat-checkbox color="primary"
                  >Post Graduate Diploma</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox color="primary"
                  >Undergraduate Certificate</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox color="primary"
                  >Graduate Certificate</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox color="primary"
                  >Post Graduate Certificate</mat-checkbox
                >
              </p>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
        <hr />
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Disciplines </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="example-section">
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  [(ngModel)]="philosophyCheckboxSelected"
                  (change)="onChange()"
                  >Psychology</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  color="primary"
                  [(ngModel)]="geoinformaticsCheckboxSelected"
                  (change)="onChange()"
                  >Geoinformatics</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  color="primary"
                  [(ngModel)]="architectureCheckboxSelected"
                  (change)="onChange()"
                  >Architecture</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox
                  color="primary"
                  color="primary"
                  [(ngModel)]="computerCheckboxSelected"
                  (change)="onChange()"
                  >Computer Science</mat-checkbox
                >
              </p>
              <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Agriculture</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Arts</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Biology</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Business and Management</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Chemistry</mat-checkbox
                >
              </p>

                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Design</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Geography</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Hospitality, Leisure and Tourism</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Chemistry</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Interdisciplinary Studies</mat-checkbox
                >
              </p>

                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Medicine</mat-checkbox
                >
              </p>
                          <p class="panel-desc">
                <mat-checkbox color="primary" color="primary"
                  >Military science</mat-checkbox
                >
              </p>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
        <hr />
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Partnership Type </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="example-section">
                          <p class="panel-desc"><mat-checkbox color="primary">Non Partner</mat-checkbox></p>

                          <p class="panel-desc"><mat-checkbox color="primary">Partner</mat-checkbox></p>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
        <hr />
      </div>
      <div class="col-md-8">
        <div
          class="institute-list"
          *ngFor="let list of showFilteredData ? filteredLists : lists"
        >
          <div class="item-list">
            <div class="col-md-2">
              <img [src]="list.logo" alt="" width="120" height="120" />
            </div>
            <div class="col-md mx-3">
              <div class="first-info">
                <h3 class="main-title">{{ list.name }}</h3>
                <div class="location d-flex">
                  <div>
                    <p class="cityLocate">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      {{ list.address.city }}, {{ list.address.state }}
                      <span class="circle"></span> {{ list.address.country }}
                    </p>
                  </div>
                </div>
                <div class="ranks d-flex">
                  <div class="col-md-3">
                    <div class="rank-details d-flex">
                      <div class="info">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <div class="data-value mx-2">
                        <div class="value">{{ list.rank.isc_global.min }}</div>
                        <p class="label">iSC Rank</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="rank-details d-flex">
                      <div class="info">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </div>
                      <div class="data-value mx-2">
                        <div class="value">
                          {{ list.stats.acceptance_rate }}%
                        </div>
                        <p class="label">Acceptance Rate:</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="second-info">
                <div class="desc-list" *ngFor="let school of list.courses">
                  <div class="box">
                    <h4 class="title-univeristy">{{ school.school_name }}</h4>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="study">
                          <p>
                            <i
                              class="fa fa-building-o icons-color"
                              aria-hidden="true"
                            ></i>
                            <span class="text-change">{{ school.name }}</span>
                          </p>
                        </div>
                        <div class="info-plans">
                          <p>
                            <i
                              class="fa fa-graduation-cap icons-color"
                              aria-hidden="true"
                            ></i>
                            <span class="text-change">{{ school.degree }}</span>
                          </p>
                          <p>
                            <i
                              class="fa fa-usd icons-color"
                              aria-hidden="true"
                            ></i>
                            <span class="text-change"
                              >{{ school.tuition.value }} USD</span
                            >
                          </p>
                          <p>
                            <i
                              class="fa fa-calendar icons-color"
                              aria-hidden="true"
                            ></i>
                            <span class="text-change">4 years</span>
                          </p>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="btns">
                          <button class="btn btn-fav">
                            <i class="fa fa-heart-o" aria-hidden="true"></i> Add
                            to favorite
                          </button>
                          <button class="btn btn-apply">Apply</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="view-all">
            View all 99+ Courses
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
