<div class="footer">
  <footer class="footer-back">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img
              src="../../../assets/iSchoolConnect-logo.svg"
              alt=""
              width="250"
            />
            <p style="margin-top: 25px">
              iSchoolConnect is an online platform that allows you to apply to
              colleges and universities around the world. We support you through
              every step of the way to enable you to make better decisions while
              saving time and money.
            </p>
            <div class="mt-3 information">
              <div class="icon-box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4 class="title">Address</h4>
              </div>
              <div class="content">
                <p class="text-info">
                  <b>USA : </b>33 Boston Post Road, Suite 600, Marlborough MA
                  01752, USA
                </p>
                <p class="text-info">
                  <b>India : </b>504, Quantum Towers, Rambaug Lane, Behind SBI
                  Bank, Off SV Road, Malad West, Mumbai, Maharashtra- 400064
                </p>
              </div>
            </div>
            <div class="mt-3 information">
              <div class="icon-box">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <h4 class="title">Phone</h4>
              </div>
              <div class="content">
                <p class="text-info">+91 9833333983</p>
              </div>
            </div>
            <div class="mt-3 information">
              <div class="icon-box">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <h4 class="title">Email</h4>
              </div>
              <div class="content">
                <p class="text-info">info@ischoolconnect.com</p>
              </div>
            </div>
            <!-- <ul class="mt-4 mb-0 list-unstyled social-icon">
              <li class="list-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
              <li class="list-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
              <li class="list-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
              <li class="list-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
              <li class="list-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
            </ul> -->
          </div>

          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold">Useful Links</h4>
            <ol>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> How It
                Works
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> About
                Us
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> For
                Instituions
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Scholarship
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> Ask an
                Expert
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> Blog
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Careers
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Contact Us
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                iSchoolPrep
              </li>
            </ol>
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold">Top Universities</h4>
            <ol>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Harvard University
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Stanford University
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> Oxford
                University
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                University of Toronto
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Cambridge University
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Conestoga College
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                University of British
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i> Seneca
                College
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Columbia University
              </li>
              <li>
                <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                Centennial College
              </li>
            </ol>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold">Subscribe</h4>
            <p style="margin-top: 25px">
              Subscribe to iSchoolConnect and stay up to date with latest blog
              articles about higher education.
            </p>
            <form action="">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Enter Your Name <span class="asterik">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput2"
                  placeholder="Steve"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email Your address <span class="asterik">*</span>
                </label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                  required
                />
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-primary">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2)">
      2023 © iSchoolConnect. All rights reserved.
      <b class="text-primary">Privacy Policy | Terms of Use</b>
    </div>
  </footer>
</div>

<div class="div">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a href="#" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
</div>
